$main-background: #f8f9fa;
$column-background: #eceeef;
$column-text: #7e8593;
$card-background: #fff;
$create-button-background: #d7dde7;
$create-button-background-hover: #ced1db;
$header-background: #343a40;
$header-button-background: #007bff;
$header-button-background-hover: #0069d9;
$err-color: #dc3545;
$confirm-btn-color: #2ea44f;
$confirm-btn-color-hover: #2c974b;
