$main-background: #f8f9fa;
$column-background: #eceeef;
$column-text: #7e8593;
$card-background: #fff;
$create-button-background: #d7dde7;
$create-button-background-hover: #CED1DB;
$header-background: #343a40;
$header-button-background: #007bff;
$header-button-background-hover: #0069d9;
