:root {
    --bg-color:  #b0a49f;
    --modal-color: #1f1b1a;
    --second-color: #0d98c7;
    --modal-text: #FFFFFF;
    --main-text: #1f1b1a;
    --task-color: #FFFFFF;
    --error-text: #911515;
    --hr: #ffffff22;
    --scroll: #60423499;
}
