.progress {
    margin: 5px 0;
    background: rgba(255,255,255,0.4);
    border: solid 1px #60423499;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0;
    display: flex;
    height: 20px;
    width: 100%;
}

.progress-value {
    box-shadow: 20px 0px 20px 0px #0d98c7;
    color: #FFFFFF;
    background: #0d98c7;
    text-align: center;
    width: 0;
}

@keyframes load {
    0% { width: 0; } 100% { width: 68%; }
}
