.progress {
    margin: 5px 0;
    background: var(--scroll);
    border: solid 1px var(--scroll);
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0;
    display: flex;
    height: 20px;
    width: 100%;
}

.progress-value {
    box-shadow: 20px 0px 20px 0px var(--second-color);
    color: var(--modal-text);
    background: var(--second-color);
    text-align: center;
    width: 0;
}

@keyframes load {
    0% { width: 0; } 100% { width: 68%; }
}
