body{
    background-color: #b0a49f;
}
.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    overflow: hidden;
}
.side-bar{
    z-index: 10;
    color: #FFF;
    transition: all;
    transition-duration: 1s;
    position: relative;
    top:0;
    left: 0;
    background-color: #1f1b1a;
    width: auto;
    min-width: 200px;
    height: 100vh;
    padding: 20px;
    border-radius: 0 50px 50px 0;
}
.login-wrap{
    display: none;
}
.info-wrap{
    display: block;

}
.info-wrap .button{
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font-size:12px;
    color: #FFFFFF;
    background:#0d98c7;
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
}
.board{
    height: 100vh;
    transition: all;
    transition-duration: 1s;
    filter: none;
}
.no-login{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.no-login>.side-bar{

    position: absolute;
    top: 25vh;
    left: 33vw;
    width: 33vw;
    height: 50vh;
    min-width: 275px;
    min-height: 430px;
    border-radius: 25px;

}
.no-login>.board{
    filter: grayscale(.5)  blur(5px);
}
.no-login .login-wrap{
    display: block;
}
.no-login .info-wrap{
    display: none;
}
.info-task{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info-wrap h2{
    margin-bottom: 10px ;
    text-align: center;
}
.info-wrap h3{
    font-size: 90%;
    text-align: center;
}
.info-wrap h4{
    text-align: center;
}
.info-wrap img{
    display: block;
    margin: 50px auto 20px auto;
    width: 50%;
}
#test{
    position: absolute;
    bottom: 50px;
}
.hr{
    height:2px;
    margin: 40px 0;
    background:rgba(255,255,255,.2);
}

.board-groups{
    overflow-x: scroll;
    margin: 0 25px 25px 25px;
    height: calc(100vh - 125px);
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.task-group{
    min-width: 350px;
}
::-webkit-scrollbar {
    width: 6px;
    border-radius: 50%;
}
::-webkit-scrollbar-track {
    background: #FFFFFF00;
}
::-webkit-scrollbar-thumb {
    background: #60423499;
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: #0d98c7;
}
.bggb{
    width: 300vw
}
