body{
    background-color: var(--bg-color);
}
.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    overflow: hidden;
}
.side-bar{
    z-index: 10;
    color: var(--modal-text);
    transition: all;
    transition-duration: 1s;
    position: relative;
    top:0;
    left: 0;
    background-color: var(--modal-color);
    width: auto;
    min-width: 200px;
    height: 100vh;
    padding: 20px;
    border-radius: 0 50px 50px 0;
}
.login-wrap,
.edit-wrap{
    display: none;
}

.info-wrap{
    display: block;

}
.info-wrap .button{
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font-size:12px;
    color: var(--modal-text);
    background: var(--second-color);
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
}
.board{
    padding: 0 10px;
    height: 100vh;
    transition: all 1s;
    filter: none;
}

.exit{
    font-size: 25px;
    position: absolute;
    top: 30px;
    right: 50px;
    display: none;
    transition: transform .5s;
    z-index: 20;
    cursor: pointer;
}
.exit:hover{
   transform: rotate(350deg);
}
.no-login .exit,
.edit .exit{
    display: block;
}

button, input[type="submit"], .button, .btn, input[type="button"]{
    cursor: pointer;
}

.no-login,
.edit{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.no-login>.side-bar,
.edit>.side-bar{

    position: absolute;
    top: 20vh;
    left: 33vw;
    width: 33vw;
    height: 55vh;
    min-width: 275px;
    min-height: 430px;
    border-radius: 25px;

}
.no-login>.board,
.mob-menu>.board,
.edit>.board{
    filter: grayscale(.5)  blur(5px);
}
.no-login .login-wrap{
    display: block;
}
.edit .edit-wrap{
    display: block;
}
.edit .login-wrap,
.edit .info-wrap,
.no-login .info-wrap,
.no-login .edit-wrap{
    display: none;
}



.info-task{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info-wrap h2{
    margin-bottom: 10px ;
    text-align: center;
}
.info-wrap h3{
    font-size: 90%;
    text-align: center;
}
.info-wrap h4{
    text-align: center;
}
.info-wrap .user-img{
    margin: 50px auto 20px auto;
    width: 60%;
    border-radius: 50%;
}

.user-img .fill{
    fill: var(--second-color)
}
.user-img .bg-fill{
    fill: var(--modal-text)
}

#test{
    height: 50px;
    position: absolute;
    bottom: 50px;
}
.hr{
    height:2px;
    margin: 40px 0;
    background: var(--hr);
}
.board h1{
    width: fit-content;
    float: left;
    margin: 25px 15px;
    height: 50px;
    font-family: mistral;
    text-shadow: var(--second-color) 1px 0 10px;
    font-size: 50px;
}
.board-groups{
    color: var(--main-text);
    overflow-x: scroll;
    margin: 0 25px 25px 10px;
    height: calc(100vh - 110px);
    display: flex;
    flex-direction: row;
    gap: 50px;

}
.task-group{
    height: 100%;
    min-width: 350px;
}
.task-group>header{
    padding: 20px 0;
}
.task-group>header>svg{
    transition: transform 1s;
    width: 33px;
    height: 33px;
    float: right;
}
.task-group>header>svg:hover{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}
.task-group>header>h2{
    float: left;
    height: 25px;
    font-size: 23px;
    margin: 5px 0;
}
.tasks{
    overflow-y: scroll;
    height: 90%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.task{
    margin: 10px;
    min-height: 200px;
    background-color: var(--task-color);
    border-radius: 50px;
    padding: 30px;
}

.task>h3{
    font-size: 18px;
    text-align: center;
    text-decoration: underline;
}
.task p{
    margin-top: 10px;
    color: var(--main-text);
    opacity: .5;
    font-size: 14px;
}
.task .spend{
    display: block;
    float: left;
}
.task .spend{
    display: block;
    float: right;
}




::-webkit-scrollbar {
    width: 4px;
    height: 6px;
    border-radius: 50%;
}
::-webkit-scrollbar-track {
    background: #FFFFFF00;
}
::-webkit-scrollbar-thumb {
    background: var(--scroll);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--second-color);
}
.bggb{
    width: 300vw
}
